# Example environment configuration
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=sk_test_example
LIVEBLOCKS_SECRET_KEY=sk_test_example
NEXT_PUBLIC_APP_URL=
STRIPE_API_KEY=sk_test_example
STRIPE_WEBHOOK_SECRET=whsec_example
